
.coinDetails {
  @mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include flexColumnCenter;
  min-height: 80vw;

  .coinInfoContainer {
    @include flexColumnCenter;
    width: 90vw;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    @mixin flexRowSpaceBetween {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .navLinks {
      @include flexRowSpaceBetween;
      align-items: center;
      align-self: flex-start;
      margin: 1rem;
      width: 8rem;
    }

    .coinChartWrapper {
      min-height: 25rem;
      width: 100%;
    }

    .mainHeader {
      @include flexRowSpaceBetween;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;

      .nameWithLogo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    .coinData {
      @include flexRowSpaceBetween;
      flex-wrap: wrap;
      width: 100%;
      padding: 1rem;

      .coinGeckoData,
      .communityInfo {
        display: flex;
        flex-direction: column;

        .dataList {
          list-style-type: none;
        }
      }

    }

    .description {
      padding: 1rem;
    }
  }
}