@import "src/components/common/Mixins/tableStyles";

.coinLogo {
  height: 2rem;
  margin-right: 0.5rem;
}

.green {
  color: #28a745;
}

.red {
  color: red;
}

.ant-table-content {
  width: 90vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}