@import "src/components/common/Mixins/tableStyles";

.tableContainer {
  width: 100%;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

