@import "src/components/common/Mixins/tableStyles";

.coinsTable {




}

.coinLogo {
  height: 2rem;
  margin-right: 0.5rem;
}

.green {
  color: #28a745;
}

.red {
  color: red;
}

.ant-table-content {
  width: 70vw;
}