@import "src/components/common/Mixins/tableStyles";

.tableContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .mainTable {
    @include commonTableStyles;

    .nameWithLogo {
      text-align: left;
      .coinLogo {
        height: 2rem;
        margin-right: 0.5rem;
      }
    }

    .green {
      color: #28a745;
    }

    .red {
      color: red;
    }

  }
}

