
.tableContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .mainTable {
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;

    .nameWithLogo {
      text-align: left;

      .coinLogo {
        height: 2rem;
        margin-right: 0.5rem;
      }
    }

    @mixin cell {
      max-width: 10rem;
      min-width: 2rem;
      text-align: center;
      vertical-align: middle;
      height: 2rem;
    }

    .green {
      color: #28a745;
    }

    .red {
      color: red;
    }

    & td {
      @include cell;
      border: 1px solid rgba(157, 157, 158, 1);
    }

    & th {
      @include cell;
      border: 1px solid rgba(157, 157, 158, 1);
      background: #28a745;

    }
  }
}

